body{
    background: #FEFCF3;
    box-sizing: border-box;
    padding: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    width: 100vw;
}

.container{
    width: 1500px;
    height: 100%;
    margin: 0 auto;
    display: block;
    overflow: auto;
    width: 80vw;
}

.top{
    display: flex;
    flex-direction: row;
    height: 100px;
    background-color: #F5EBE0;
    justify-content: space-around;
    border-radius: 20px;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 80vw; /* Full width */
    box-shadow: 0px 0px 10px #DBA39A;
    color: black;
}

#logo{
    display: flex;
    width: 75px;
    height: 75px;
    margin: 10px;
    padding: 5px;
}

#brand{
    margin-right: 10px;
}

#logo-hacktiv{
    width: 75px;
    height: 75px;
    padding: 0;
    margin: 0;
}


#search-bar{
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 75px;
    /* background-color: white; */
    margin: 10px;
    flex-direction: row;
}

#text-search{
    padding: 6px;
    border: none;
    /* margin-top: 8px; */
    margin-right: 16px;
    background-color: #F5EBE0;
    border-radius: 20px;
    border: 2px solid #DBA39A;
    font-size: 20px;
    width: 90%;
}

.button{
    background-color: #FEFCF3;
    border: none;
    width: 90px;
    height: 33px;
    margin: 10px;
    
}

.button:hover{
    background-color: whitesmoke;
    cursor: pointer;
    border: 2px solid #DBA39A;
}

.magnifier{
    position: absolute;
    margin-top: 15px;
    margin-left: 590px;
}

.magnifier:hover{
    cursor: pointer;
}

.button-search{
    width: 70px;
    height: 75px;
    align-items: flex-end;
    padding: 0;
    border-radius: 20px;
    /* margin-left: 10px; */
    background-color: #FEFCF3;
}

#cart{
    width: 75px;
    height: 75px;
    background-color: #F5EBE0;
    margin: 10px;
}

#shopping-cart{
    width: 65px;
    height: 65px;
    padding: 5px;
    margin: 0;
}

.body{
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 70%; */
    background-color: #F5EBE0;
    border-radius: 20px;
}   

.list-barang{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 20%;
    height: 100%;
    /* background-color: white; */
}

.checkout{
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    margin: 20px;
    width: 100%;
    height: 100%;
}

.detail-checkout{
    width: 100%;

}

.header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.instant-checkout{
    align-self: flex-end;
    /* color: #DBA39A; */
    background-color: red;
}

table.table-struk {
    margin: 10px;
    width: 100%;
    font-size: 25px;
    /* height: 100%; */
    /* border: 1px solid black; */
    /* background-color: black; */
}

table.table-struk th{
    text-align: left;
}

/* table.table-struk td{
    text-align: left;
} */

.jumlah-barang{
    text-align: left;

}

.barang{
    display: flex;
    margin: 20px;
    width: 250px;
    height: 300px;
    /* background-color: red; */
    align-items: center;
    background-color: #FEFCF3;
    box-shadow: 7px 7px 3px #DBA39A;
    color: black;
}

.barang:hover{
    box-shadow: 12px 12px 5px #DBA39A;
    transition: all 0.5s ease;
}

form {
    font-size: 15px;
    margin-top: 25px;
    margin-left: 105px;
}

ul{
    list-style:none;
}

ul, li { /* reset the margin and padding */
    margin: 5px;
    padding: 0;
    font-size: 15px;
}

img{
    margin-top: 20px;
    margin-bottom: 20px;
}

.pembatas{
    border-top: 2px solid black;
    box-shadow: 5px 5px 3px #DBA39A;
}

.detail-pembayaran{
    
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form{
    border-right: 2px solid black;
}

.container-cards-p{
    width: 100%;
}

form{
    font-size: 20px;
    font-weight: bold;
    margin: 50px;
}

.form-label{
    width: 90%;
    height: 30px;
    font-size: 20px;
    margin: 10px;
}

textarea{
    resize: none;
    margin: 10px;
    font-size: 20px;
    width: 90%;
}

.radio-button-form{
    margin: 20px;
}

.print-out{
    width: 1000px;
    align-items: center;
    flex-direction: column;
}

.aturan-bayar{
    margin-left: 20px;
}

.text-bayar{
    margin: 20px;
    font-size: 25px;
}